 html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}

.nav {
    color:#fff !important;
}

.frontend {
    height: auto;
    width: 25px;
}

.backend {
    height: auto;
    width: 40px;
}

.programming {
    height: auto;
    width: 25px;
}

.uvicheader {
    width: 400px;
    height: auto;
    opacity: 1;
}

.headerimage {
    background-color:  #5b6371;
}


#topbtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ff5c33;
    opacity: 0.5;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
}

#topbtn:hover{
    opacity: 1;
}

#topbtn i:hover {
    color: white;
}

.arrow {
    color: red;
    text-align: center;
}


#particles-js0 {
    position: absolute;
    height: 100% !important;
    width: 100% !important;
    z-index: -1;
    background-color: #131315;
}

#particles-js {
    position: absolute;
    height: 100% !important;
    width: 100% !important;
    z-index: -1;
    background-color: #222831;
}

#particles-js2 {
    position: absolute;
    height: 100% !important;
    width: 100% !important;
    z-index: -1;
    background: #1A1A1D;
}

#particles-js3 {
    position: absolute;
    height: 100% !important;
    width: 100% !important;
    z-index: -1;
    background:  #1D1D20;
    ;
}

#particles-js4 {
    position: absolute;
    height: 100% !important;
    width: 100% !important;
    z-index: -1;
    background:  #27272B;
    ;
}

#particles-js5 {
    position: absolute;
    height: 100% !important;
    width: 100% !important;
    z-index: -1;
    background:  #222831;
    ;
}


.front-page {
    position: relative;
    height: 100%;
    width: 100%;
} 

.skills-section {
    position: relative;
    background-color: #222831;
}

.about-section {
    position: relative;
    background-color: #283148;
    color: white;
}

.projects-section {
    position: relative;
    background-color: #283148;
}

.main {
    height: 100%;
    width: 100%;
    position: relative;
}


.workexp-section {
    position: relative;
    background-color: #222831;
}

.connect-section {
    position: relative;
    background-color: #283148;
} 

.overlay {
    position: relative;
    padding: 50px;
}

.pb1 {
    background-color: #ffac41
}

.pb2 {
    background-color: #ff1e56
}

.pb3 {
    background-color: #323232
}

.pb4 {
    background-color: #000000
}

.tech {
    color: white;
}

.tools {
    color: gray;
}


body {
    font-family: 'Raleway', sans-serif;

}

.pbutton {
    border-color: #ffac41 !important;
}

.pbutton:hover {
    background-color: #ffac41 !important;
}


.element {
    font-size: 25px;
    color: white;
}

#progress-bar {
    width: 50%;
    background-color: grey;
}

#hide-text {
    color: #1D1D20;
    opacity: 0;
}

#bar-one {
    width: 1%;
    height: 30px;
    background-color: green;
}

h1 {
    color: #ff5c33;
}



.skill-text {
    font-weight: 250;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.imgBox {
    position: relative;
}

.project {
    transition: transform 5s;
}

.Box:hover {
    transform: scale(1.2);
}
  
.image-container {
    position: relative;
  width: 100%;
}

.hide {
    color: #222831 !important;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .image {
    opacity: 0.3;
}

.image-container:hover .middle {
    opacity: 1;
}

.btn-outline-primary {
    border-color: #ff5c33;
    color: white;
}

.btn-outline-primary:hover {
    background-color: #ff5c33c9;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.aboutme {
    font-weight: 400;
    font-size: 25px;
}

  
h6 {
    background-color: #1A1A1D;
    width: 100% !important;
    margin: 0px !important;
}

img {
    opacity:  1;
}

.cmodify {
    background-color: #222831;
    color: white;
    border-color: #ffac41;
}

.cmodify3 {
    background-color: #393e46;
    color: white;
    border-color: #ffac41;
}

.cmodify2 {
    border-color: #ffac41 !important;
}

.card-footer {
    border-color: #ffac41
}


.card-header {
    border-bottom-color: #ff5c33;
    opacity: 1 !important;
}

.card-title {
    border-bottom-color: #ff5c33 !important;
}

.profile-pic {
    max-width: 20%;
    height: auto;
}

.icon {
    width: 100%;
    text-align: center;
}

i {
    color: rgb(98, 98, 100);
}

.icon2 {
    text-align: right;
    padding-top: 5px;
    padding-left: 150px;;
}

i:hover {
    color: #ff5c33;
}

.footer {
    width: 100%;
    background-color: rgba(71, 71, 74, 0.5);
    color: white;
    text-align: center;
}